@import './setting';

.notVisible{
    display: none;
}
.displayCom{
    display: flex;
    .propGroupe{
        display: flex;
        width: 100%;
        flex-direction: column;
        .groupeComVisible{
            display: flex;
            animation: cache 1s linear forwards;
            width: 100%;
            align-items: center;
            flex-direction: column;
            .groupeIntCom{
                display: flex;
                width: 100%;
                max-width: 600px;
                justify-content: flex-end;
                margin: 20px;
                .globalCom{
                    display: flex;
                    width: 100%;
                    max-width: 400px;
                    height: fit-content;
                    background-color: grey;
                    border-radius: 1em;
                    box-shadow: cyan 2px 2px 11px;
                    flex-wrap: wrap;
                    .groupeName{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        & p{
                            margin: 0;
                            padding: 5px 5px;
                            height: fit-content;
                            color: aqua;
                        }
                        & img{
                            display: flex;
                            margin: 5px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .comArticle{
                        display: flex;
                        padding: 5px;
                        border-radius: 0 1em 0 1em;
                        width: 80%;
                        height: fit-content;
                        & p{
                            margin: 0;
                            padding: 5px;
                            height: fit-content;
                        }
                    }
                    .authIco{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: flex-end;
                        padding-bottom: 5px;
                        .icoPen, .icoTrash{
                            padding: 0 8px;
                            cursor: pointer;
                            z-index: 3;
                            &:hover{
                                color: aqua;
                            }
                        }
                    }
                }
            }
        }
    }
}

.addComment{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
    .formComment{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: auto;
        background-color: grey;
        border-radius: 1em;
        box-shadow: cyan 2px 2px 11px;
        flex-wrap: wrap;
        & p {
            font-size: 12px;
            color: black;
        }
        & input{
            background: transparent;
            border: none;
            border-bottom: black 1px solid;
            font-size: 20px;
            &::placeholder{
                color: lightgrey;
            }
            &:focus{
                outline: none;
            }
        }
        .btnCom{
            display: flex;
            justify-content: center;
            border-radius: 1em 0;
            max-width: 100px;
            background: white;
            margin: 7px 7px;
            border: none;
            box-shadow: 3px 3px 3px cyan;
            &:hover{
                transform: scale(1.1);
            }
            &:active{
                transform: scale(1);
            }
            
        }
    }
}