@import './setting';
@import './animation';

/*-----logo----*/
.HEADER {
    display: flex;
    width: 100%;
    height: 100px;
    .content {
        animation: containerBall 1s infinite ease-out;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 200px;
        height: 130px;
        .logo {
            animation: Ball 1s infinite ease-out;
            display: flex;
            height: 100px;
            width: 100px;
            background: url(img/logo.png) no-repeat center;
            background-size: contain;
        }
    }
    .titleForm {
        color: aqua;
        font-size: calc(24px + 2vw);
        font-weight: 600;
        font-family: cursive;
        display: flex;
        height: 100%;
        align-items: flex-end;
        position: relative;
        left: -60px;
    }
}
/*-----Formulaire----*/
.center__form {
    display: flex;
    justify-content: center;
    .card__form {
        width: 100%;
        max-width: 400px;
        height: auto;
        padding: 50px 0;
        .Form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            background-color: grey;
            border-radius: 2em;
            box-shadow: cyan 3px 3px 8px;
            .navigation {
                display: flex;
                width: 90%;
                justify-content: space-between;
                font-size: 1.5em;
                padding: 30px 0;
            }
            .navigation a{
                text-decoration: none;
                font-weight: 600;
                font-family: cursive;
                color: aqua;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                }
                &:visited{
                    color: none;
                    text-decoration: line-through;
                }
            }
            .connectionForm {
                display: flex;
                flex-direction: column;
                width: 90%;
                input{
                    display: flex;
                    height: 35px;
                    margin: 20px 0;
                    font-size: 1em;
                    font-weight: 600;
                    font-family: cursive;
                    padding-left: 5px;
                    animation: appearForm 1s ease-out;
                    animation-fill-mode: forwards;
                    &:focus{
                        outline: 1px solid aqua;
                    }
                    &:hover{
                        outline: 1px solid aqua;
                    }
                }
                .btnForm {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 200px;
                    height: 35px;
                    margin: 20px 0;
                    font-size: 1.5em;
                    font-weight: 600;
                    font-family: cursive;
                    background-color: aqua;
                    border-radius: 2em;
                    border: none;
                    box-shadow: black 3px 3px 8px;
                    transform: translateY(0px);
                    cursor: pointer;
                    &:hover {
                        transform: translateY(-3px);
                    }
                    &:active {
                        transform: translateY(0px);
                    }

                }
            }

        }
    }
}
#messageMail, #messagePass, #messageLastName, #messageFirstName, #messagePseudo {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    transform: translateY(13px);
}
#email {
    animation: none;
}
#password {
    animation: none;
}
/*-----Footer----*/
.reseauLink {
    display: flex;
    width: 100%;
    flex-direction: column;
    p{
        padding-left: 5px;
        font-size: 1.5em;
        font-weight: 600;
        font-family: cursive;
    }
    .properties__reseauLink{
        display: flex;
        width: 300px;
        justify-content: space-around;
        height: auto;
        .link_ico, .ico {
            font-size: 45px;
            color: black;
            &:hover {
                transform: scale(1);
            }
        }
        .ico:hover:nth-child(1) {
            color: aqua;
        }
    }
}