@import url('https://fonts.googleapis.com/css2?family=Lobster:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-1: 'Lobster';
$font-2: "Roman", sans-serif;

$color-1: #6ABDFA;
$color-2: white;
$color-3: black;
$color-4: #EEEAEA;

@keyframes turnRight {
    from{transform: rotate(0deg);}
    to{transform: rotate(180deg);}   
}
@keyframes appear {
    from{
        opacity: 0;
        transform: scale(0.8);
    
    }
    to{
        opacity: 1;
        transform:scale(1);
    }
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    #root {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    };
};
    